In [2]:
vege = "potato"
n = [4,5,2,7,6]

print(len(vege))

print(len(n))

6
5

In [3]:
alphabet = ["a","b","c","d","e"]
alphabet.append("f")
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
number = [1,5,3,4,2]
print(sorted(number))
print(number)

[1, 2, 3, 4, 5]
[1, 5, 3, 4, 2]

In [6]:
number = [1,5,3,4,2]
number.sort()
print(number)

[1, 2, 3, 4, 5]

In [7]:
city = "Tokyo"
print(city.upper())
print(city.count("o"))

TOKYO
2

In [8]:
animal = "elephant"
animal_big = animal.upper()

print(animal)
print(animal_big)

print(animal.count("e"))

elephant
ELEPHANT
2

In [9]:
print("私は{}生まれ、{}育ち".format("東京","埼玉"))

私は東京生まれ、埼玉育ち

In [11]:
fruit = "banana"
color = "yellow"

print("{}は、{}です".format(fruit,color))

bananaは、yellowです

In [12]:
alphabet = ["a","b","c","d","d"]
print(alphabet.index("a"))
print(alphabet.count("d"))

0
2

In [13]:
n = [3,6,8,6,3,2,4,6]
print(n.index(2))
print(n.count(6))

5
3

In [14]:
list = [1,10,2,20]
list.sort()
print(list)

[1, 2, 10, 20]

In [15]:
list = ["あ","い","う","え","お"]
list.reverse()
print(list)

['お', 'え', 'う', 'い', 'あ']

In [16]:
n = [53,26,37,69,24,2]

n.sort()
print(n)

n.reverse()
print(n)

[2, 24, 26, 37, 53, 69]
[69, 53, 37, 26, 24, 2]